<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.chrisvander.themeswitch</string>

        <key>StandardErrorPath</key>
        <string>/tmp/local.job.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/local.job.out</string> 

        <key>ServiceDescription</key>
        <string>Syncs terminal applications based on system theme.</string>

        <key>Program</key>
    		<string>/usr/local/bin/themeswitchd</string>

        <key>RunAtLoad</key>
    		<true />

    		<key>KeepAlive</key>
    		<true />
    </dict>
</plist>
